body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-bar {
  background-color: #e87f23;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid black;
}

.logo {
  padding-right: 30px;
}

.title {
  font-size: 32px;
  color: white;
}

h3 {
  margin-top: 50px;
}

.chart-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
  padding-right: 10px;
  padding-top: 10px;
}

.title-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-text {
  text-align: center;
}

.yAxis-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.yAxisTick {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.xAxis-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xAxisTick {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000, #000) no-repeat top/1px 5px;
}

.AxisLeftMargin {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.data-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.dataBarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column-reverse;
  border-bottom: 1px solid black;
}

.dataBar {
  display: flex;
  justify-content: center;
  color: white;
}

.dataPadding {
  background-color: white 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
